/* General Layout */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.map-container {
    position: relative;
    height: calc(100vh - 100px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Buttons */
.button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.delete-button {
    display: inline-block;
    background-color: #ce2929;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #f01d32;
}

/* Pop-up Button */
.popup-button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-button:hover {
    background-color: #218838;
}

/* Header */
h1 {
    color: #333;
    margin-bottom: 10px;
}

h3 {
    color: #666;
}

/* Container and Layout */
.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.info-container {
    text-align: center;
    margin: 20px;
}

/* Select Input Style */
.selectinput {
    display: inline-block;
    position: relative;
    width: 200px; 
}

.selectinput select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    appearance: none; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23000" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.5 5l7 7 7-7H1.5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
    transition: border-color 0.3s ease;
}

.selectinput select:focus {
    border-color: #007bff; 
    outline: none; 
}

.selectinput select:hover {
    border-color: #007bff;
}

.label_earthquake {
    font-size: 16px; 
    font-weight: bold;
    color: #333; 
    margin-right: 10px;
    display: inline-block; 
    vertical-align: middle; 
}